.add-student {
	font-size: 14px;
	text-align: left;
	vertical-align: center;
	height: 60px;
	text-decoration: underline;
}

.add-student input {
	font-size: 15px;
	border: 0;
	width: 90px;
	padding: 10px 5px 10px 5px;
	margin-top: 15px;

}
input:focus {
	outline: none;
}

.add-student .firstName {
	margin-right: 5px;
}

.add-student button {
	width: 70px;
	padding: 10px;
	margin: 0 5px 0 5px;
	background-color: #bbb;
}
.add-student-text {
	padding: 25px 0 0 15px;
}