.navbar {
	height: 25px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 1% 0;
  background-color: #aaa;
  font-size: 13px;
}

.hamburger {
	position: fixed;
	top: 0;
	left: 0;
	padding: 3px 0 0 7px;
}


.login {
	position: fixed;
	top: 0;
	right: 0;
	padding: 3px 7px 0 0;
}