.workshop {
  font-size: 14px;
  height: 90px;
  padding: 15px 20px;
  background-color: #bbb;
  text-align: left;
}
.workshop:nth-child(even) {
	background-color: #ddd;
}
.workshop .date {
	font-size: 1.5em;
	font-weight: bold;
	display: inline-block;
	margin: 0 10px 10px 0;
}
.workshop .book {
	font-size: 1.25em;
	font-weight: bold;
	float: right;
}
.workshop .book * {
	display: inline-block;
}
.workshop .pages {
	margin-left: 10px;
}